{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div class="inner-banner-header wf100">
        <h1 data-generated="User Edit">User Edit</h1>
        <div class="gt-breadcrumbs">
            <ul>
                <li><a href="{% url 'index' %}" class="active"> <i class="fas fa-home"></i> Home </a></li>
                <li><a href="#"> User Edit </a></li>
            </ul>
        </div>
    </div>
    <!--Main Content Start-->
    <div class="main-content innerpagebg wf100 p80">
        <!--Start-->
        <div class="news-details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="contact-form">

                            <div class="login-register-div">
                                <div class="login-register-box">
                                    <form method="post" action="{% url 'edit user' pk=user.pk %}"
                                          enctype=multipart/form-data>
                                        {{ form.as_p }}
                                        <button class="edit-own" type="submit">Edit User</button>
                                        {% csrf_token %}
                                    </form>
                                    <div class="player-details">
                                        <span class="follow"><a
                                                href="{% url 'delete user' pk=user.pk %}">Delete</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End-->
    <!--Main Content End-->
{% endblock %}