{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <!--Header End-->
    <!--Main Slider Start-->
    <div class="inner-banner-header wf100">
        <h1 data-generated="Page 400">Page 400</h1>
        <div class="gt-breadcrumbs">
            <ul>
                <li><a href="{% url 'index' %}" class="active"> <i class="fas fa-home"></i> Home </a></li>
                <li><a href="#"> Page 400 </a></li>
            </ul>
        </div>
    </div>

    <!--Main Slider Start-->
    <!--Main Content Start-->

    <div class="main-content p80 innerpagebg wf100">
        <!--Page 404 Page Start-->
        <div class="error-page-404">
            <div class="container">
                <div class="p404-wrap">
                    <h1>404</h1>
                    <h2><em>Ooops!</em> Page Not Found</h2>
                    <p>The Requested page can not be Found</p>

                    <a href="{% url 'index' %}" class="b2home"><i class="fas fa-home"></i> Go Back to Home</a>
                </div>
            </div>
        </div>
        <!--Page 404 Page Start-->
    </div>
    <!--Main Content End-->
{% endblock %}
