{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div class="inner-banner-header wf100">
        <h1 data-generated="Gallery ">Gallery</h1>
        <div class="gt-breadcrumbs">
            <ul>
                <li><a href="{% url 'index' %}" class="active"> <i class="fas fa-home"></i> Home </a></li>
                <li><a href="{% url 'show photos' %}"> Gallery </a></li>
            </ul>
        </div>
    </div>
    <!--Main Content Start-->
    <div class="main-content innerpagebg wf100">
        <!--Image Gallery Start-->
        <div class="image-gallery gallery p80">
            <div class="container">
                <div class="massonry-gallery gallery">
                    <div class="isotope items">
                        {% for photo in photo_list %}
                            <div class="item ">
                                <div class="gallery-thumb"><a href="{% url 'details photo' pk=photo.pk %}"><i
                                        class="fas fa-search"></i></a> <img src="/media/{{ photo.photo }}" alt=""></div>
                            </div>
                            <a href=""></a>
                        {% endfor %}
                    </div>
                    {% if photos.has_other_pages %}
                        <nav>
                            <ul class="pagination justify-content-center">
                                {% if photos.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ photos.previous_page_number }}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link" aria-hidden="true">&laquo;</span>
                                    </li>
                                {% endif %}

                                {% if photos.number|add:'-4' > 1 %}
                                    <li><a class="page-link" href="?page={{ photos.number|add:'-5' }}">&hellip;</a></li>
                                {% endif %}

                                {% for p in photos.paginator.page_range %}
                                    {% if photos.number == p %}
                                        <li class="page-item"><span class="page-link">{{ p }} <span
                                                class="sr-only">(current)</span></span>
                                        </li>
                                    {% elif p > photos.number|add:'-5' and p < photos.number|add:'5' %}
                                        <li class="active"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if photos.paginator.num_pages > photos.number|add:'4' %}
                                    <li><a class="page-link" href="?page={{ photos.number|add:'5' }}">&hellip;</a></li>
                                {% endif %}

                                {% if photos.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ photos.next_page_number }}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link" aria-hidden="true">&raquo;</span>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}

                </div>
            </div>
        </div>
        <!--Image Gallery End-->
    </div>
    <!--Main Content End-->
{% endblock %}