{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <!--Header End-->
    <!--Main Slider Start-->
    <div class="inner-banner-header wf100">
        <h1 data-generated="Add Photo">Add Photo</h1>
        <div class="gt-breadcrumbs">
            <ul>
                <li><a href="{% url 'index' %}" class="active"> <i class="fas fa-home"></i> Home </a></li>
                <li><a href="#"> Photos </a></li>
                <li><a href="#"> Add Photo </a></li>
            </ul>
        </div>
    </div>
    <!--Main Slider Start-->
    <!--Main Content Start-->
    <div class="main-content innerpagebg wf100 p80">
        <!--News Large Page Start-->
        <!--Start-->
        <div class="news-details">
            <div class="container">
                <div class="row">
                    <!--News Start-->
                    <div class="col-lg-8">
                        <div class="contact-form">
                            <div class="news-details-wrap">
                                <div class="news-large-post">
                                    <form method="post" action="{% url 'add photo' %}" enctype=multipart/form-data>
                                        {{ form.as_p }}
                                        <button class="edit-btn" type="submit">Add Photo</button>
                                        {% csrf_token %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News End-->
            </div>
        </div>
    </div>
    <!--End-->
    <!--Main Content End-->
{% endblock %}